.container{
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 10%;
    padding-left: 5%;
    margin-right: 5%;
   
}
body{
    background-repeat:no-repeat ;
    background-size: contain;   
}